<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Fitness-Tracker</title>
</head>
<header>
    <h1>Fitness Tracker App <%- info[0].user %></h1>
</header>
<body>


    <form action="/add-ex" method="POST">
        <input type="text" class="hidden" value="<%- info[0].user %>" name="fitnessName">
        <input type="text" name="exercise" placeholder="Exercise Name"></input>
        <input type="text" name="maxReps" placeholder="Maximum number of reps"></input>
        <input type="text" name="maxWeight" placeholder="Maximum weight used"></input>
        <input type="submit" value="Update">
    </form>
    <% for(let i = 0; i < info.length; i++){ 
        if(info[i].fitnessName == info[0].user){ %>
        
<ul>
    <li>Exercise:<%= info[i].exercise %></li>
    <li>Maximum Reps: <%= info[i].maxReps %></li>
    <li>Maximum Weight: <%= info[i].maxWeight %></li>
    <button class="delEx" >Delete</button>
</ul>
<% }} %>

<script src="/main.js" defer></script>
</body>
</html>